* {
  box-sizing: border-box;
}

.logo {
    display: inline-block;
    width: 33.33%;
    font-size: 1.4rem;
}

.nav {
  display: inline-block;
  width:66.66%;
  font-size: 1.4rem;
  color: rgb(0,0,0);

}

.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

img {
  padding-top: :40px;
  padding-right: 20px;
  padding-left: 40px;
  position: 0;
  position: 0;
  z-index: 1;
  background-image: linear-gradient;
}

h1 {
  position: absolute;
  justify-content: center;
}

  .article-link {
    display: inline-block;

  }
  .choose-one {
    width: 395px;



  }
  .setup{
    height: 9px;
    border-style: solid;
    display: block;
  }

  .start_one {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 1;
  }

  .article_one {
    text-align: justify;

  .pay_one {
    height: 9px;
    border-style: solid;
    display: block;
  }
  .article_two  {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 1;

      }
  .plan_one {
    height: 9px;
    border-style: solid;
    display: block;
  }

    .article_three {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding-top: 4rem;
      padding-left: 2rem;
      padding-right: 2rem;
      z-index: 1;
        }

      .article_four {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding-top: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        z-index: 1;

      }
