

.logo {
    display: inline-block;
    width: 33.33%;
    font-size: 1.4rem;
}

.nav {
  display: inline-block;
  width:66.66%;
  font-size: 1.4rem;
  color: rgb(0,0,0);

}

.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
